body {
    font-family: 'Montserrat', sans-serif;
    /* background: url(../images/retro.png); */
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    min-height: 700px
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}
h2 {
    font-size: 3.5rem;
    line-height: 1.5;
}

.carousel img {
    height: 363px; 
}

p {
    color: #8f8f8f;
}

.top-display img {
    width: 215px;
    max-height: 215px;
}
.outerwear-display img {
    width: 215px;
    max-height: 215px;
}
.bottom-display img {
    width: 200px;
    max-height: 215px;
}
.shoes-display img {
    width: 200px;
    max-height: 215px;
}

@media only screen and (max-width: 700px) {
    .top-display img {
        width: 150px;
    }
    .outerwear-display img {
        width: 150px;
    }
    .bottom-display img {
        width: 135px;
    }
    .shoes-display img {
        width: 135px;
    }
}