body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}
h2 {
    font-size: 3.5rem;
    line-height: 1.5;
}

.carousel img {
    max-height: 363px;
}

p {
    color: #8f8f8f;
}

.top-display img {
    width: 215px;
}
.bottom-display img {
    width: 200px;
}